body {
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    background-image: url(images/background.jpg);
    background-size: cover;
}

#container {
    width: 400px;
    margin: 50px auto;
    justify-content: center;
    padding: 0, 0, 10px;
    background-color: rgba(28, 28, 28, 0.9);
    border: 10px solid rgb(255, 102, 102);
    border-radius: 20px;
}

.button {
    background-color: rgb(255, 102, 102);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
}

.button {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    margin: 0;
    margin-bottom: 8px;
    cursor: pointer;
}

#text-box {
    height: 60px;
    width: 335px;
    background-color: rgb(255, 148, 148);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 30px;
    margin: 30px;
    text-align: right;
}

.button:hover {
    border: thin black solid;
    background-color: rgb(255, 148, 148);
}

.button:active {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 148, 148);
}

#all-clear,
#clear {
    width: 167px;
}

#memory {
    color: bisque;
    background-color: black;
    width: 300px;
    margin: 10px auto 20px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(255, 148, 148);
    text-align: left;
}
